@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
  --color-primary: #42b883;
  --background-primary: #35495e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.app {
  min-height: 100vh;
}

nav {
  height: 60px;
  width: 100%;
  background-color: var(--color-primary);
  padding: 5px 15px;

  display: flex;
  align-items: center;
  gap: 25px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  transition: 250ms;
  color: #000;
}

.logo, .separator {
  color: #fff;
  font-size: 25px;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;
  position: relative;

  -webkit-box-shadow: 0px 5px 21px 5px rgba(0,0,0,0.2); 
  box-shadow: 0px 5px 21px 5px rgba(0,0,0,0.2);

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

label {
  margin: 5px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: calc(100% - 10px);
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.text-center {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.page-error{
  min-height: calc(100vh - 55px - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 30px;
  text-align: center;
  position: relative;
  bottom: 0;
}